@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Playfair+Display:wght@800&family=Yeseva+One&display=swap');
body {
  font-family:"Open Sans","Helvetica","Arial", sans-serif;
  font-weight:400;
  font-size:16px;
  line-height:1.5;
  margin:0;
  color:#333
}

header {
  font-family: 'Yeseva One',cursive;
  background-color: rgb(215, 248, 219);
  color: #333;
  text-align: center;
  padding: 20px;

  }
  


main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section h2 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-weight: 800;
  margin-top: 40px;
  margin-bottom: 20px;
}

section h3 {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 15px;
}

p {
  margin-bottom: 20px;
}

ul {
  list-style: disc;
  margin-bottom: 20px;
  margin-left: 20px;
  list-style-type: none;
  }

  li::before {
    content: "- ";
  }


li {
  margin-bottom: 5px;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

section {
  max-width: 800px;
  margin: 0 auto;
}

figure {
  margin: 20px 0;
}

figcaption {
  margin-top: 10px;
  font-style: italic;
  font-size: 14px;
  margin-left: -10px;
  margin-right: -10px;
  text-align: center;
}

table caption {
  font-family: 'Playfair Display', serif;
}

  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: rgb(215, 248, 219);
  }
  tr:nth-child(even) {
    background-color: rgb(215, 248, 219);
  }


a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

